.cardLinks {
  text-decoration: none;
  color: red;
}

.articlesCard {
  padding: 1em;
  list-style-type: none;
}

.articlesCardDetails {
  margin-left: 2em;
}

#articlesBody {
  margin-left: 4em;
  margin-bottom: 2em;
}

ul {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

.sortOptions {
  text-align: center;
}

.optionsBoxes {
  margin-left: 0.5em;
}

.limit {
  margin-left: 2em;
}
