.navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'topics search login';
}

.topicsNav {
  grid-area: topics;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

.topicsLink {
  text-decoration: none;
  color: black;
}

.searchNav {
  grid-area: search;
  text-align: center;
}

.navFont {
  font-size: 1.5em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

#searchOptions {
  font-size: 1.5em;
  box-sizing: content-box;
}

#searchTerm {
  font-size: 1.5em;
  box-sizing: content-box;
}

#searchIcon {
  font-size: 1.5em;
}

.navElements {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

#loginButtons {
  grid-area: login;
}

#logInButton {
  font-size: 1.5em;
  margin: 0.25em;
}

#signUpButton {
  font-size: 1.5em;
  margin: 0.25em;
}
